services:
  jane-doe:
    build: .
    tty: true
    stdin_open: true
    entrypoint: >
      /bin/sh -c "
        TARGET_IP=$$(getent hosts john-doe | awk '{print $$1}') &&
        ./build/udp-chat 0.0.0.0 1234 $$TARGET_IP 4321
      "
  john-doe:
    build: .
    tty: true
    stdin_open: true
    entrypoint: >
      /bin/sh -c "
        TARGET_IP=$$(getent hosts jane-doe | awk '{print $$1}') &&
        ./build/udp-chat 0.0.0.0 4321 $$TARGET_IP 1234
      "
